{% extends "index.html" %}

{% block moduleSections %}
    {% with section='search' %}
        {{block.super}}
    {% endwith %}
{% endblock %}


{% block content %}
<h2>Search</h2>
{% block timeline %}
    {% for entry in last_entries %}
    <h4>{{entry.name}}</h4>
    <div class="row col-lg-12">
        <div class="col-lg-8">
            <p>{{entry.description}}</p>
        </div>
        <div class="col-lg-3">
            {{entry.creation_date.date.isoformat}}
        </div>
    </div>
    <div class="col-lg-12">
        {% for k in entry.keys %}
        <strong>{{k.name}}</strong>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}

{% endblock content %}

